@import "~bootstrap/scss/bootstrap";
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

.container-fluid{
  background-color: black;
  border-color: black;
}

.dashBox {
  overflow-y: hidden;
  font-size: smaller;
}

input#bcs_level {
  // width: 30px;
  // appearance: slider-vertical;
  // transform: scaleX(-1);
  // transform-origin: center;
  // ToDo: "appearance: slider-vertical" is giving a chrome warning
  //  need to dynamically adjust the width to equal the table height in JS
  width: 60px;
  margin-left: -20px;
  margin-right: -20px;
  transform: rotate(90deg);
}

h5 {
  font-size: $font-size-base * 0.875;
  font-weight: $font-weight-bolder;
  border-bottom: 1px solid $gray-800;
  padding-bottom: 5px;
  color: $gray-500;
  text-transform: uppercase;
}
